<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>About Me</h1>
 <p><b>Full Name:</b> Apiwat Anachai</p>
 <p><b>Student ID:</b> M17241580</p>
 <p><b>Short Bio:</b> My first name is Apiwat Anachai, but I go by Ben. I transferred from Cincinnati State Community College, and this is my first semester at UC.</p>
 <p><b>Contact Details:</b> anachaat@mail.uc.edu | https://github.com/iceapw</p>
 <a href="/"><button>Home</button></a>
</body>
</html>


